body {
    background: black;
    background-image:url(./background.png);

    background-size:cover;
    color: white;
    height: 100%;
    width: 100%;

}

#mainContainer {}

#innerContainer {
    top: 15vh;
    text-align: left;
    position: relative;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(8px);
    left :10%;
    width:80%;
    min-height: 70vh;
    font-size: 20px;
    border-radius: 20px;
}

#mushContainer {
    background: url(./mushroom.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 400px;
    min-height: 70vh;

}

#header {
    text-align: left;
    left: 15px;
    top: 15px;
    position: relative;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 60px;
}

#descriptionDiv {
    width: 62%;

}

#description {
    left: 25px;
    top: 40px;
    position: relative;
    font-family: 'Raleway';font-size: 22px;
    width: 50%;
    font-size: 30px;
}

#secondDesc {
    font-size: 53px;
}

#enterButton {
    background: white;
    color: #42AD0F;
    position: relative;
    bottom: 60px;
    left: 75px;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    font-family: 'Raleway';font-size: 22px;

}

.green {
    color: #42AD0F;
}

.brown {
    color: #DAB195;
}

